* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

.start-button:hover {
  cursor: pointer;
  background-color: green;
}

.start-button {
	background-color: lightgreen;
	border: 1px solid black;
	text-decoration: none;
	padding: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1, h3 {
	text-align: center;
}

.centerit {
	text-align: center;
}

.question-container {
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid lightgray;
	text-align: center;
}

.answer-container {
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid lightgray;

}

.button-container {
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid lightgray;
	text-align: center;
}

.message-container {
	width: 60%;
	margin: auto;
	margin-bottom: 5px;
	border: 1px solid gray;

}

.pink-back {
	background-color: pink;
}

.green-back {
	background-color: lightgreen;
}

.hidden {
	display: none;
}

.js-next {}